
@font-face {
    font-family: FuturaStd-Heavy;
    src: url("../fonts/FuturaStd-Heavy.otf") format("opentype");
}

@font-face {
    font-family: FuturaStd-Book;
    src: url("../fonts/FuturaStd-Book.otf") format("opentype");
}

@font-face {
    font-family: AvenirLTStd-Black;
    src: url("../fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
    font-family: AvenirLTStd-Roman;
    src: url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
}
/*---------------------------Fonts------------------*/

// .b2b-popup{
  
//     position: fixed;
//     top: 25%;
//     left: 35%;
//     transform: translate(-50%, -50%);
//   /* 4^ to center */
 
//      -ms-transform: scale(0.4, 0.4); /* IE 9 */
//     -webkit-transform: scale(0.4, 0.4); /* Safari */
//     transform: scale(0.4, 0.4);
// }

// .b2b-popup{
  
//     position: fixed;
//     top: 25%;
//     left: 35%;
//     transform: translate(-50%, -50%);
//   /* 4^ to center */
 
//      -ms-transform: scale(0.4, 0.4); /* IE 9 */
//     -webkit-transform: scale(0.4, 0.4); /* Safari */
//     transform: scale(0.4, 0.4);
// }

.popup-container {
    position:absolute;
    margin:-30px 0px 0px -7px;
    width: 1920px;
    height: 1080px;
    background-color:white;
    clip: rect(0px,1920px,1080px,0px);
}

/* Mask: */
.gradient-bg{

 width: 100%;
 height: 100%;
 position: absolute;

  margin: -570px 0px 0px 560px;
  /* Gradient: */
}
  
  .BG-Gradient-Circle{
  background-image: linear-gradient(39deg, rgba(100,84,162,0.60) 4%, rgba(255,255,255,0.60) 47%);
}
  .Fill-3{
  /* This is the B2B Form gradient background */
  position:absolute;
  background: rgba(84,90,162,0.40);
  margin:0px;
  }

.branding-div{
 display: inline-block;
 margin-top:58px;
 margin-left:50px;
 width:355px; 
/*  background:red; */
}

.logo-div{
  display: inline-block;
  left:30px;
  width:100%;
  height:100%;
/*   background:red; */
  
}

.form-title p {
  /* Send us your details: */
font-family: "AvenirLTStd-Roman";
font-size: 18px;
color: #909090;
line-height: 21px;
}

.animated-rocket{
 display:block;
 margin-top:409px;
 margin-left:5vw; /* or 124px*/
}

.circle-bg{
 width: 100%;
 height: 100%;
 position: absolute;
  
}
.b2b-rocket{
 width: 100%;
 height: 100%;
 position: absolute;
 margin-top:55px;
  
}


/***** Buttons  *****/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 0 rgba(99, 99, 99, 0.15);
    font-family: "FuturaStd-Heavy";
    font-size: 15px;
    &.primary {
        position: relative;
        width: 200px;
        height: 45px;
        color: #FFFFFF !important;
        border: 2px solid transparent;
        box-shadow: inset 0 -4px 0 0 #86B882;
        background-color: #96CD91;
        background-clip: padding-box;
        padding: 2px;
    }
    &.primary::after {
        position: absolute;
        top: -2px;
        bottom: -2px;
        left: -2px;
        right: -2px;
        background: linear-gradient(#ACE2A7, #86B882);
        border-radius: 4px;
        content: '';
        z-index: -1;
    }
    &.secondary {
        width: 200px;
        height: 45px;
    }
}

// [ Change Secondary Button Color ]
@mixin btn-color($colorHEX) {
    color: rgba($colorHEX, 1);
    border: 2px solid rgba($colorHEX, 1);
    box-shadow: inset 0 -4px 0 0 rgba($colorHEX, 0.25);
    transition: all .1s ease;
    &:hover {
        background-color: lighten($colorHEX, 15%);
    }
}


// ------------------custom round button--------------

.button-popup-call {
  font-family: "FuturaStd-Heavy";
  font-size: 0.9em;
  background: #96cd91;
  width: 372px;
  color: white;
  display: block;
  padding: 1em;
  border-radius: 5em;
  text-transform: uppercase;
  text-align:center;
  text-decoration: none;
  letter-spacing: 0.15em;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
  &:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
    color: #e6e6e6;
  }
}

.button-popup-schedule {
  font-family: "FuturaStd-Heavy";
  margin-top:10px;
  font-size: 0.9em;
  background: #96cd91;
  width: 372px;
  color: white;
  display: block;
  padding: 1em;
  border-radius: 5em;
  text-transform: uppercase;
  text-align:center;
  text-decoration: none;
  letter-spacing: 0.15em;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
  &:hover {
    box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    transform: translateY(-1px);
    color: #e6e6e6;
  }
}



.popup-btn-group{
  position:absolute;
  width:220px;
  height:130px;
  margin-left:4.3%;
  margin-top:370px;
}

.form{
  position:absolute;
  margin-top:900px;
  margin-left:1579px;
}

.input-area{
  position:absolute;
  margin: 200px 0 0 690px;
  width:1100px;
  height:500px;
  // background:red;
}

.input-area .input-name{
  margin:20px;
  background-color:transparent;
  border-color:transparent;
  border-style: solid;
  border-bottom: thick solid white;
  height:75px;
  width:1017px;
  font-size:34px;
  color:white;
}



// ----------------INPUT FORM AREA START-----------

$background: #484984;
$dark: #484984;
$primary: #96CD91;

input, 
button {
  font-family: "FuturaStd-Heavy";
  position: fixed;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -300%);
  display: block;
  width: 50vw;
  opacity: 0;
  pointer-events: none;
  transition: all .5s cubic-bezier(.4, .25, .8, .3);
}

input {
  padding: .25rem 0;
  border: 0;
  border-bottom: 1px solid $primary;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: .125rem;
  transition: all .5s cubic-bezier(.4, .25, .8, .3);
}

input::selection {
  background: rgba($primary, 0.25);
}

button,
.signup-button {
  font-family: "FuturaStd-Heavy";
  padding: .25em 0;
  border: 0;
  outline: 0;
  background: $primary;
  color: rgba(#fff, 0.85);
  font-size: 2rem;
  line-height: 3.6rem;
  letter-spacing: .0625rem;
  box-shadow: 0 3px 5px 1px rgba(#000, 0.25);
  text-shadow: 0 -2px 0 rgba(#000, 0.25), 0 1px 0 rgba(#fff, 0.2);
}

input:focus,
button:focus {
  opacity: 1;
  transform: translate(-50%, -100%);
  pointer-events: auto;
  transition: all .4s cubic-bezier(.1, .45, .1, .85) .5s;
  z-index: 10;
}

input:focus ~ input,
input:focus ~ button {
  transform: translate(-50%, 500%);
  transition: all .5s ease-in;
}
input:focus ~ label .label-text {
  transform: translate(-50%, 300%);
  transition: all .5s ease-in;
}
input:focus ~ .tip {
  opacity: 1;
}
input:focus ~ .signup-button,
button:focus ~ .signup-button {
  opacity: 0;
}

input:focus + label .label-text {
  opacity: 1;
  transform: translate(-50%, -100%);
  transition: all .3s cubic-bezier(.1, .45, .1, .85) .4s;
}
input:focus + label .nav-dot:before {
  background: darken($primary, 5%);
  box-shadow: 0 0 0 .15rem $dark, 0 0 .05rem .26rem $primary;
}

.tip {
  position: fixed;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  opacity: 0;
  color: #fff;
  font-size: .875rem;
  font-weight: 300;
  letter-spacing: .125rem;
  text-transform: uppercase;
  text-align: right;
  transition: opacity .25s .5s;
}

.signup-button,
.signup-button-trigger {
  position: fixed;
  top: 50%;
  left: 70%; 
  // for mobile,left: 50%;
  transform: translate(-50%, -100%);
  width: 40vw;
  // for mobile,width: 70vw;
  padding: .25rem 0;
  line-height: 3.6rem;
  text-align: center;
  pointer-events: none;
  cursor: pointer;
  transition: opacity .4s .3s;
}

.signup-button-trigger {
  opacity: 0;
  pointer-events: auto;
}

.label-text {
  position: fixed;
  top: calc(50% - 4rem);
  left: 60%;
  transform: translate(-50%, -300%);
  width: 50vw;
  padding: 3.125rem 0 1.5rem;
  text-transform: uppercase;
  color: #fff;
  opacity: 0;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: .125rem;
  pointer-events: none;
  transition: all .4s cubic-bezier(.4, .25, .8, .3) .05s;
}

.nav-dot {
  cursor: pointer;
  position: fixed;
  padding: .625rem 1.25rem .625rem .625rem;  
  top: 52%;
  right: 1.25rem;
  &:before {
    content: '';  
    display: inline-block;  
    border-radius: 50%;
    width: .375rem;
    height: .375rem;
    margin-right: .625rem;  
    position: fixed;
    background-color: lighten($background, 3%);
    border: 0;
    transition: all 0.25s;
  }
  &:hover:before {
    width: .625rem;
    height: .625rem;
    margin-top: -.125rem;
    margin-left: -.125rem;
    background-color: darken($primary, 5%);
  }
}

@for $i from 1 through 5 {
  label[for="input-#{$i}"] .nav-dot {
      margin-top: -150px + (25 * $i);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, $background 0%, $dark 100%);
  font-family: 'Lato', sans-serif;
}

form {
  width: 100%;
  height: 100%;
  overflow: hidden;
}




// ----------------INPUT FORM AREA END-----------